h1{
  font-family:Helvetica;
  font-size:70px;
  font-weight:bold;
  color:white;
}
.link{
  font-family:Helvetica;
  font-size:18px;
  color:white;
}
#top{
  background-image:
  url("https://github.com/Physicschick/unit3/blob/master/resources/images/the-flatiron-building.png");
}
