h1{
  font-family:Helvetica;
  font-size:70px;
  font-weight:bold;
  color:white;
}
.link{
  font-family:Helvetica;
  font-size:18px;
  color:white;
}
h1,
.link{
  background-image:
  url("
    ");
}
